html {
  background-color: #fff;
  font-family: "Montserrat", serif;
}

.name {
  font-family: 'Fredoka One', cursive;
  color: #DD5329;
}

.masthead {
  background-color :#FBFAFF;
  color: #fff;
}

.logo {
  text-align: center;
}

.logo-text {
  display: inline-block;
  width: 9em;
}

.nav {
  text-align: center;
}

.bgcolor {
  background-color: #FBFAFF;
}

.nav a {
  font-weight: bold;
  color: #2177FB;
  text-decoration: none;
}

.nav a span {
  border-bottom: .25rem solid #73A9FC;
}

.nav a:hover span,
.nav a span {
  border-bottom-color: #73A9FC;
}

.nav a:focus {
  outline: 3px solid #73A9FC;
}

@media only screen and (min-width: 38em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

  .banner,
  .card {
    min-height: 0;
  }

}
