html {
  background-color: #fff;
  font-family: Montserrat, serif;
  color: #302d2d;
}

.name {
  font-family: "Fredoka One", cursive;
  color: #133a54;
}

.masthead {
  background-color: #fbfaff;
  color: #fff;
}

.logo {
  text-align: center;
}

.logo-text {
  display: inline-block;
  width: 9em;
}

.nav {
  text-align: center;
}

.bgcolor {
  background-color: #ffe980;
}

.graybg {
  background-color: #eff1f4;
}

.nav a {
  color: #133852;
  text-decoration: none;
}

.btn {
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}

.btn:hover {
  background-color: #fff;
  border-color: #fff;
}

.nav a:focus {
  outline: 3px solid #73a9fc;
}

main h2, h3 {
  color: #133852;
}

footer a, h3 {
  text-decoration: none;
  color: #133852;
}

.current {
  border-bottom: .3rem solid #133852;
}

td {
  border-bottom: 0;
}

.faq {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}

@media only screen and (min-width: 38em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

  .banner,
  .card {
    min-height: 0;
  }

}
